@use '../../styles/variables' as *
@use 'sass:color'
	
.dishesMenu
	display: flex
	flex-direction: column
	gap: 20px
	color: $color-grey
.title
	font-size: 32px
	display: flex
	align-items: center
	gap: 10px
.preloader
	width: 20px
	height: 20px
.menuList
	display: flex
	flex-direction: column
	gap: 20px
.error
	display: flex
	flex-direction: column
	gap: 5px
	font-size: 24px
	color: $color-red
	background: color.adjust($color-red, $lightness: 34%)
	border-radius: 16px
	padding: 10px
.errorMessage
	font-size: 16px
	color: $color-grey
	letter-spacing: .4px