@use '../../styles/variables' as *
	
.cart
	color: $color-grey
	display: flex
	flex-direction: column
	gap: 20px
.title
	font-size: 32px
.cartList
	display: flex
	flex-direction: column
	gap: 20px
.empty
	background: $color-light
	border-radius: 16px
	font-weight: 700
	padding: 10px
	height: 200px
	display: flex
	justify-content: center
	align-items: center
	font-size: 18px